section1 {
  text-align: center;
}

body {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 40px 0 40px;
}

.harry {
  width: 210px;
  height: 270px;
  border-radius: 3px;
}

.color {
  position: absolute;
  font-size: 20px;
  animation: animate 2s linear infinite;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 20px 50px;
  border-radius: 50px;

}

@keyframes animate {
  0%{
    background-color: lightblue;
  }
  20%{
    background-color: aquamarine;
  }
  40%{
    background-color: wheat;
  }
  60%{
    background-color: lightskyblue;
  }
  80%{
    background-color: lightcyan;
  }
  100%{
    background-color: lightgray;
  }

}

.bookOfTheDay{
  font-size: 25px;
  border-radius: 5px;
  border-color: lightblue;
}

dt {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
dd {
  text-align: right;
}


@media only screen and (max-width: 500px){
  .harry {
    width: 80px;
    height: 110px;
  }
  body {
    background-size: cover;
  }
  .color {
    font-size: 12px;
    position: relative;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 6em
}